<% title "Note" %>

<p>
  <strong>Body:</strong>
  <%=h @note.body %>
</p>
<p>
  <strong>Visible:</strong>
  <%=h @note.draft %>
</p>

<p>
  <%= link_to "Edit", edit_note_path(@note) %> |
  <%= link_to "Destroy", @note, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", notes_path %>
</p>
